
.button{
    background-color: #37811F;
    padding: 20px 35px;
    font-size: 20px;
    font-family: poppins, sans-serif;
    border-radius: 15px;
    display: inline-block;
    color: white;
    border: none;
    opacity: 100%;
    cursor: pointer;
}

.buttonForm{
    background-color: #37811F;
    padding: 10px 15px;
    font-size: 15px;
    font-family: poppins, sans-serif;
    border-radius: 15px;
    display: inline-block;
    color: white;
    border: none;
    opacity: 100%;
    width: 50%;
    max-width: 200px;
    min-width: 100px;
    align-self: center;
    margin-top: 30px;  
    cursor: pointer;     
}

.closeModalBtn{
    border: none;
    background: none;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    align-items: center;
}
.closeBtn{
    width: 25px; 
    cursor: pointer;
}


.modal{
    position: fixed;
    height: 100%;
    width: 100vw;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .7);
    transition: opacity .2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.overlay{
    border: 2px solid #37811F;
    background-color: #EEFFFF;
    padding: 35px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px
    
}

.allInputsContainer{
    display: flex;
    gap: 50px;
}

.rightSide{
    width: 50%;
    
}
.leftSide{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modalContent{
    width: 95%;
}

.smallInputContainer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}
.inputContainer{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.input{
    display: flex;
    flex-direction: column;
}

.modalForm{
    display: flex;
    flex-direction: column;
}

.modalLabel{
    font-family:poppins, sans-serif;
    font-weight: 600;
    font-size: 17px;
    width: 100%;
    max-width: 430px;
}
.errorMessage{
    font-family: poppins, sans-serif;
    font-size: 14px;
    padding-left: 2px;
    font-weight: 500;
    color: #ff0000;

}
.modalSmallInput{
    height: 40px;
    border-radius: 15px;
    border: 2px solid #37811F;
    outline: none;
    padding: 0px 20px;
    font-family: poppins, sans-serif;
    font-weight: 500;
    width: 60%;
}
.modalOpen{
    overflow-y:hidden;
}

.loadingContainer{
    background-color: #EEFFFF;
    width: 600px;
    height: 400px;
    border-radius: 20px;
    padding: 25px 25px 20px 25px;
    border: 1px solid #37811F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modalLoading{
    position:fixed;
    height: 100%;
    width: 100vw;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .7);
    transition: opacity .2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.loadingHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.loadingTitle{
    text-align: center;
    font-family: inter, sans-serif;
    font-weight: 700;
    font-size: 35px;
}

.loadingDescription{
text-align: center;
font-family: inter, sans-serif;
font-weight: 500;
font-size: 24px;
}

.loadingAnimationContainer{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lds-dual-ring {
    display: inline-block;
    width: 100px;
    height: 100px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #37811F transparent #37811F transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
@media (max-width: 1000px){ 
    .button{
        width: 100%;
        margin-top: 20px;
    }
    .allInputsContainer{
        flex-direction: column;
        gap: 0;
    }
    .leftSide{
        width: 100%;
    }
    .rightSide{
        width: 100%;
    }
    .modal{
        align-items: start;
    }
    .overlay{
        border: 2px solid #37811F;
        background-color: #EEFFFF;
        padding: 25px;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        margin: 60px 0px 0px 0px;
        gap: 5px;
        width: 40%;
        min-width: 300px;
    }
    .modalContent{
        flex-direction: column;
        gap: 0px;
    }
    .modalLabel{
        font-family:poppins, sans-serif;
        font-weight: 600;
        font-size: 12px;
        margin: 5px 0;
        width: 100%;
        max-width: 430px;
    }
    
    .modalInput{
        height: 30px;
        width: 100%;
        border-radius: 10px;
        border: 2px solid #37811F;
        outline: none;
        padding: 0px 10px;
        font-family: poppins, sans-serif;
        font-weight: 500;
    }
    .smallInputContainer{
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 10px;
        
    }
    .modalSmallInput{
        height: 30px;
        border-radius: 10px;
        border: 2px solid #37811F;
        outline: none;
        padding: 0px 20px;
        font-family: poppins, sans-serif;
        font-weight: 500;
        width: 100%;
    }
}
@media (max-width: 500px){
    .loadingHeader{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .loadingTitle{
        text-align: center;
        font-family: inter, sans-serif;
        font-weight: 700;
        font-size: 30px;
    }
    
    .loadingDescription{
    text-align: center;
    font-family: inter, sans-serif;
    font-weight: 500;
    font-size: 20px;
    }
    
    .loadingAnimationContainer{
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .lds-dual-ring {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
      }
      .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #fff;
        border-color: #37811F transparent #37811F transparent;
        animation: lds-dual-ring 1.2s linear infinite;
      }
}