.button{
    background-color: #37811F;
    padding: 20px 35px;
    font-size: 20px;
    border-radius: 15px;
    display: inline-block;
    color: white;
}

.container{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.result{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
}