.button{
    background-color: #37811F;
    padding: 20px 35px;
    font-size: 20px;
    font-family: poppins, sans-serif;
    border-radius: 15px;
    display: inline-block;
    color: white;
    border: none;
    opacity: 100%;
}

.button:hover{
    cursor: pointer;
}

@media (max-width: 1000px){
    .button{
        width: 100%;
    }
}