*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.homePage{
    background-color: #EEFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contentHeader{
    width: 70%;
    max-width: 1980px;

}

@media (max-width:500px){
    .logo{
        font-size: 22px;
    }
}