*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 14px;
    background: #EEFFFF;
  }
  
  ::-webkit-scrollbar-thumb{
    background: #37811F;
    border-radius: 4px;
    border: 2px solid #fff;
  }
  
.homePage{
    background-color: #EEFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contentHeader{
    width: 70%;
    max-width: 1980px;

}

.modalInput{
    height: 40px;
    border-radius: 15px;
    border: 2px solid #37811F;
    outline: none;
    padding: 0px 20px;
    font-family: poppins, sans-serif;
    font-weight: 500;
    width: 100%;  
    box-shadow: 2px 4px 2px 0px rgba(0, 0, 0, 0.25);
}

input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

@media (max-width:500px){
    .logo{
        font-size: 22px;
    }
}