*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homePage{
    background-color: #EEFFFF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content{
    width: 70%;
    max-width: 1980px;

}