@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

.navbarBackground{
    background-color: #54BF29;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    color: white;
    max-width: 1980px;
    width: 70%;
}

.navbar-list{
    display: flex;
    gap: 20px;
}

.logo{
    font-family: inter, sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    letter-spacing: 1px;
}

.navButton{
    font-family: inter, sans-serif;
    font-size: small;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    letter-spacing: 1px;
    width: 120px;
}

.navBarIcon{
    max-height: 16px;
}