.tableContainer{
    background-color: #EEFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding: 20px 40px;
    border-radius: 35px;
    border: 2px solid #37811F;
    margin: 30px 0;
    
}

.tableHeader{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logoContainer{
    display: flex;
    color: #54BF29;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 15px 0px;
}
.closeTableBtn{
    border: none;
    background: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tableTitle{
    text-align: center;
    border-top: 1px solid #b9b9b9;
    padding: 20px;
    font-family: poppins, sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    color: #525252;
}

.modalDietTable{
    position: fixed;
    height: 100%;
    width: 100vw;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .7);
    transition: opacity .2s ease;
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: auto;
}

.dietDescriptionTitle{
    font-family: poppins, sans-serif;
    font-weight: 600;
}

.dietDescriptionContent{
    font-family: inter, sans-serif;
    font-weight: 500;
}

#tableDiet{
    max-width: 100%;
    background-color: white;
    border-collapse: collapse;
    margin-bottom: 30px;
}

#tableDiet thead{
    background-color: #54BF29;
    color: #FFF;
}

#tableDiet thead tr th{
    border: 2px solid #37811F;
    padding: 5px;
    font-family: poppins, sans-serif;
    font-size: small;
    font-weight: 500;
    letter-spacing: 1px;
    
}

#tableDiet tbody tr td{
    border: 2px solid #37811F;
    padding: 5px;
    font-size: 14px;
}
.dietDownload{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.tableButton{
    background-color: #37811F;
    padding: 5px 15px;
    width: 120px;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 17px;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tableBtnContainer{
    gap: 20px;
    display: flex;
    justify-content: space-between;
}

.dayColumn{
    font-weight: 600;
    font-family: inter;
}

.snackCell{
    font-weight: 500;
    font-family: inter;
}

.descriptionContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.suggestionContainer{
    width: 100%;
}
.suggestionTitle{
    text-align: center;
    color: #a7a7a7;
    font-weight: 600;
    font-family: inter, sans-serif;
    font-size: 17px;
}

.suggestionContent{
    font-family: inter, sans-serif;
    font-size: 19px;
    font-weight: 700;
}

.suggestionContentContainer{
    text-align: center;
    padding: 15px;
    border-top : 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
    margin: 10px 0;
}

.copyright{
    margin-top: 10px;
    text-align: center;
    color: #a7a7a7;
    font-weight: 700;
    font-family: inter, sans-serif;
    font-size: 17px;
}

@media (max-width: 1000px){
    .tableTitle{
        font-size: 1.1rem;
    }
    #tableDiet{
        margin: 0;
    }
    .tableResponsiveContainer{
        margin-bottom: 20px;
        max-width: 100%;
        max-height: 600px;
        overflow: auto;
        border: 2px solid #37811F;
    }
    .suggestionTitle{
        font-size: 14px;
    }
    .dietDescription{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 200px;
    }
    .dietDescriptionTitle{
        font-size: 14px;
        width: 100%;
    }
    
    .dietDescriptionContent{
        font-size: 14px;
    }
    .tableButton{
        font-size: 14px;
        width: 90px;
    }
    .tableImgBtn{
        width: 20px;
    }
    .suggestionContent{
        font-size: 16px;
    }
    .copyright{
        font-size: 14px;
    }
    #tableDiet thead{
        background-color: #54BF29;
        color: #FFF;
    }
    
    #tableDiet thead tr th{
        padding: 2px;
        font-size: 12px;
        
    }
    
    #tableDiet tbody tr td{
        border: 2px solid #37811F;
        padding: 2px;
        font-size: 12px;
    }
}

@media (max-width: 700px){
    .tableContainer{
        width: 90%;
    }
}

@media (max-width: 520px){
    .descriptionContainer{
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 20px;
    }
    .dietDescription{
        width: 100%;
    }
    .dietDownload{
        border-top: 1px solid #a7a7a7;
        padding-top: 4px;
    }
    .suggestionContent{
        font-size: 14px;
    }
    .tableTitle{
        font-size: 14px;
        padding: 15px 0;
    }
    .suggestionContentContainer{
        padding: 0px 10px 10px;
        border-top : none;
    }
    .suggestionTitle{
        border-top: 1px solid #a7a7a7;
        padding-top: 4px;
    }
    .tableResponsiveContainer{
        max-height: 400px;
    }
}