.tableContainer{
    background-color: #EEFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 5%;
    
}

.tableHeader{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logoContainer{
    display: flex;
}

.tableTitle{
    text-align: center;
}

#table{
    max-width: 100%;
    background-color: white;
}

.descriptionContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.suggestionContainer{
    width: 100%;
}
.suggestionTitle{
    text-align: center;
}

.suggestionContentContainer{
    text-align: center;
}

.suggestionContent{
}

th{
    border: 1px solid gray;
}
td{
    border: 1px solid gray;
}