.tableContainer{
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#table{
    border: 2px solid black;
    max-width: 50%;
}

th{
    border: 1px solid gray;
}
td{
    border: 1px solid gray;
}